.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 20px; /* Add padding to create spacing */
  }
  
  .search-input {
    display: flex;
    align-items: center;
    background-color: #eff0f6;
    border-radius: 8px;
    padding: 4px;
    margin-right: 10px; /* Add right margin for spacing */
    width: 100%; /* Take up full width */
    max-width: 400px; /* Limit the maximum width */
  }
  
  .search-icon {
    margin-right: 8px;
    margin-left: 12px;
    color: #53535b;
    height: 24px;
    width: 24px;
  }
  
  .search-bar input {
    flex: 1;
    padding: 10px;
    height: 25px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    outline: none;
    color: #a0a3bd;
  }
  
  .search-button {
    margin-left: 10px;
    background-color: #5f2eea;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 40px; /* Adjust the padding for width */
  }
  
  @media (max-width: 768px) {
    .search-bar {
      flex-direction: column; /* Stack elements vertically */
      align-items: flex-start; /* Align items to the left */
    }
  
    .search-input {
      width: 100%; /* Take up full width */
      max-width: none; /* Remove maximum width */
      margin-right: 0; /* Remove right margin */
      margin-bottom: 10px; /* Add bottom margin for spacing */
    }
  
    .search-button {
      width: 100%; /* Take up full width */
    }
  }
  