.dashboard {
  .title{
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 12px;
  }
  .heading-inner{
    font-size: 20px; 
    font-weight: bold;
  }

  .movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
}
