.dashboard {
  .heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .movie-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
  }
}
