.movie-details-slider {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    background-color: rgba(125, 124, 124, 0.8);
    z-index: 999;
    transition: right 1s ease;
  }
  
  .movie-details-slider.open {
    right: 0;
  }
  
  .slider-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    overflow-y: auto;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
  }
  
  .close-button:focus {
    outline: none;
  }
  